@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Montserrat:wght@100;200;300;400;500;600;700;800&family=Open+Sans:wght@300;400;500;600;700;800&family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
.text-first{
    color: #B68C5A;
}
.btn-first{
    background-color: #B68C5A;
    color: #FFF;
}
.btn-first:hover{
    border: 1px solid #B68C5A;
    color: black;
}
.banner{
    background-image: url('../images/banner.png'), linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.7));
    background-blend-mode: overlay;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
}
.lh{
    line-height: 1.6rem;
}
.main-banner{
    height: 75vh;
    background-blend-mode: overlay;
    background-repeat: no-repeat;
    background-size: cover;
}
.banner1{
    background-image: url('../images/slider-1.jpg'), linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.7));
}
.banner2{
    background-image: url('../images/slider-2.jpg'), linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.7));
}
.banner3{
    background-image: url('../images/slider-3.jpg'), linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.7));
}
.slider-img{
    width: 70px;
    height: 70px;
}

.bg-hover:hover{
    background-color: whitesmoke;
}